dist
.wrangler
.output
.vercel
.netlify
.vinxi
.ash_history
.wget-hsts
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules
.bun/
.npm/

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
tmp/

# System Files
.DS_Store
Thumbs.db

# pocketbase
/pb_data
/pocketbase

# playwright
/test-results
/playwright-report

# generated
file-routes.d.ts

# docker
docker-compose.override.yml
